{% extends "skeleton.html" %}

{% block content %}

<div class="about">
	<h1>About me</h1>

	<p>
	Hey, my name is Krystal and I post here all my findings. If you wish to contact me here are my socials:
	</p>

	<ul>

		<li> E-mail: krystalgamer(at)protonmail.com </li>
		<li> Discord: krystalgamer#5397 </li>
		<li> Twitter: <a href="https://twitter.com/krystalgamer_">krystalgamer_ </a></li>
		<li> YouTube: <a href="https://www.youtube.com/channel/UCzVNIhIIjeo9lUjp7g5zq0w">krystalgamer</a></li>
	</ul>
</div>
{% endblock %}

