<html>

	<head>
		<title>{% block title %}krystalgamer's Blog{% endblock %}</title>
		{% block extra_sheets %}{% endblock %}
		<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >
		<meta name="viewport" content="width=device-width, initial-scale=1">
		

		{% block embed %}
			<meta property="og:title" content="{{ self.title() }}" />
			<meta property="og:description" content="{% block og_description %}Hacking and programming{% endblock %}" />
			<meta property="og:type" content="summary" />
			<meta name="og:image" content="https://krystalgamer.github.io/static/banner.jpg" />

		{% endblock %}
	</head>


	<body>

		<header>
			<div class="nav-holder">
				<nav class="container">
				<div class="logo-name">
					<img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="krystalgamer's Lair">
					<a href="{{ url_for('serve_main') }}">krystalgamer's Lair</a>
				</div>
				<a href="{{ url_for('about') }}">About</a>
				</nav>
			</div>


			<div class="header-bg" style="background-image: url({{ url_for('static', filename='banner.jpg')}})">
			
				<h1>
					krystalgamer - Blog
				</h1>

			</div>
		</header>
		<main class="container dope-shadow">

			{% block content %}
			{% endblock %}
		</main>

		<footer class="container">
			© {{ now.strftime('%Y') }} krystalgamer
		</footer>
	</body>

</html>
